.loader {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
}

.loader img {
    width: 70px;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #eee;
    overflow-x: hidden;
    padding-top: 0;
    transition: 0.5s;
    -webkit-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin-top: 0.5em;
    padding-left: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.sidenav a:hover,
.active-link {
    background-color: #ccc;
    cursor: pointer;
    color: black !important;
}

.sidenav a:nth-child(2) {
    margin-top: 2.5em;
}

.sidenav .closebtn {
    font-size: 2em;
    padding-top: 0;
    border-bottom: 1px solid #cccc;
    color: #007bff;
    font-weight: bold;
}

.sidenav .closebtn:hover {
    background-color: inherit;
    color: #007bff;
    font-size: 2.01em;
}

.shortNav {
    display: none;
    height: 100%;
    width: 5%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #eee;
    overflow-x: hidden;
    padding-top: 0;
    transition: 0.5s;
    -webkit-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
    text-align: center;
}

.shortNav .menu-burguer {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.shortNav a {
    color: #818181;
    font-size: 1.5em;
    padding: 1em;
}

.shortNav a:hover,
.shortNav a:active {
    cursor: pointer;
    font-weight: 900;
    font-size: 1.55em;
}

.shortNav a i {
    padding-top: 1em;
}

.shortNav a:nth-child(2) {
    margin-top: 2.5em;
}

.container {
    padding-left: 5%;
    padding-top: 3%;
}

.card {
    margin-top: 5%;
    padding-bottom: 3%;
    -webkit-box-shadow: -2px 1px 44px -22px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 1px 44px -22px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 1px 44px -22px rgba(0, 0, 0, 0.75);
}

.card.results {
    display: none;
}

.card button {
    margin-top: 3%;
    width: 100%;
    font-size: 25px;
}

.valid {
    border-color: green !important;
}

.no-valid {
    border-color: red !important;
}

input:focus {
    border-color: inherit;
}

@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}